# Poetry.lock is an exact version pinning tool (down to SHA256 of libs)
# If writing a (reusable) library, exact versions don't matter that much so it
# may make sense to gitignore that file, uncommenting the following line:
# poetry.lock
# If writing an App (binary-deployable), then exact library versions
# do matter a lot, and you'll want to keep Poetry.lock tracked = keep
# commented

{%- if not dynamic_version %}
{# Dynamic-version requires the git repo in docker context to know version #}
# Avoid arbitrary git changes invalidating docker context
.git
{%- endif %}

{% include "data/ignores.j2" -%}
