[flake8]
# Black (formatter) uses 88 characters per line not PEP8's 79
max-line-length = 88
# Disable complaints about the use of assert in tests
per-file-ignores = tests:S101
ignore =
    # "Line too long"
    # Replaced by B950
    E501
    # "Line break occurred before a binary operator"
    # Against PEP8
    W503
    # D100-D107: docstrings; disabled until we have docstrings for everything
    D100
    D101
    D102
    D103
    D105
    D107
    # "Docstrings first line must end in a period"
    # Overly strict, might be enabled at some point though
    D400
# B950: line too long, but tolerates 10% over the limit, like black
extend-select = B950
