[project]
name = "{{ package_name }}"
description = "{{description}}"
authors = [ { name= "{{author_name}}", email= "{{author_email}}" } ]
readme = "README.md"
version = "0.1.0"
requires-python = ">={{python_version}}"
dependencies = []

# Replace the "dev" dependency with docs + test dep-groups
[tool.uv]
default-groups = ["docs", "test"]

[dependency-groups]
docs = [
    "sphinx==9.1.0",
    "sphinx-rtd-theme==3.1.0",
    "myst-parser==5.1.0",
    "sphinx-autodoc2==0.5.0",
    "sphinxcontrib-programoutput==0.20",
    "sphinx-jinja==2.0.2",
    "doc2dash==3.1.0",
]
test = [
    "pytest==9.1.1",
    "pytest-cov==7.1.0",
    "pytest-clarity==1.0.1",
    "pytest-datadir==1.8.0",
]

[project.scripts]
{{project_slug}} = "{{ package_name }}.cli:cli"


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.pytest.ini_options]
addopts = """-vv \
      --doctest-modules \
      --cov={{ package_name }} \
      --cov-report=xml:test_results/coverage.xml \
      --cov-report=html:test_results/coverage.html \
      --cov-report=term \
      --junit-xml=test_results/results.xml"""

[tool.coverage.run]
omit = [
  "src/{{ package_name }}/tests/**",
  "tests/**",
]

[tool.ruff]
# Always fix what you can, without needing CLI flags
fix = true
line-length = 88  # Like black
extend-exclude = ["docs/*"]

[tool.ruff.lint]
unfixable = [
    "ERA", # do not autoremove commented out code
]
select = ["D"]  # Enable docstring rules in general
# D400/D415 = First line (of dosctrings) should end with [.?!]
extend-ignore = ["D400", "D415"]

# Use Google-style docstrings
pydocstyle = {convention = "google"}

[tool.mypy]
python_version = "{{python_version}}"
check_untyped_defs = true
