FROM ghcr.io/astral-sh/uv:python{{python_version}}-bookworm as builder

{%- if dynamic_versioning %}
ARG UV_DYNAMIC_VERSION=0.8.2
RUN uv pip install --system \
    "uv-dynamic-versioning==${UV_DYNAMIC_VERSION}"
{%- endif %}

# Copy the project into the image
WORKDIR /workdir
COPY . /workdir

# Generate both pinned dependencies list from lockfile
# And the distribution binary (wheel) package
RUN uv export \
    --locked --no-emit-workspace --no-editable \
    --output-file requirements.lock.txt \
    && uv build --wheel

# Start over with just the binary package install
FROM python:{{python_version}}-slim as runner

# Bring the wheel file and the pinned dependency list
COPY --from=builder /workdir/dist /workdir/requirements.lock.txt /app/

# Compile Python source files to bytecode [...] tends to improve startup time
# (at the cost of increased installation time)
ENV UV_COMPILE_BYTECODE=1

# Install the package
RUN pip install --no-deps --no-cache-dir -r /app/requirements.lock.txt && \
    pip install --no-deps --no-cache-dir /app/*.whl

ENTRYPOINT ["{{project_slug}}"]
