FROM python:{{python_version}} as builder

# Bring uv, our package manager, and pre-commit hooks
ARG UV_VERSION=0.4.27
ARG PRECOMMIT_VERSION=3.6.2
{%- if dynamic_version %}
ARG UV_DYNAMIC_VERSION=0.2.0
{%- endif %}
RUN pip install --no-cache-dir \
    "uv==${UV_VERSION}" \
{%- if dynamic_version %}
    "uv-dynamic-versioning==${UV_DYNAMIC_VERSION}" \
{%- endif %}
    "pre-commit==${PRECOMMIT_VERSION}"

# Copy code in to build a package
COPY . /workdir/
WORKDIR /workdir

RUN uv build --wheel

# Start over with just the binary package install
FROM python:{{python_version}}-slim as runner

# Bring the wheel file
COPY --from=builder /workdir/dist /app

# Install the package
RUN pip install --no-cache-dir /app/*.whl

ENTRYPOINT ["{{project_slug}}"]
