{{project_name}}
{% for _ in range(project_name|length) %}={% endfor %}

Below is the rendered version of the project's :code:`README.md` file, found at the
root of the code repository.

```{include} ../../README.md
```

```{toctree}
---
maxdepth: 3
caption: Table of Contents
---
Changelog <changelog>
architecture
API Reference <apidocs/index>
```
