################################################################################
# Global ignore list, common in BOTH .dockerignore, and .gitignore
# Make sure that whatever is done below is copied to the other file
################################################################################

# uv.lock is an exact version pinning tool (down to SHA256 of libs)
# If writing a (reusable) library, exact versions don't matter that much so it
# may make sense to ignore that file, uncommenting the following line:
# uv.lock
# If writing an App (binary-deployable), then exact library versions
# do matter a lot, and you'll want to keep Uv.lock tracked = keep
# commented

test_results/

# Do not track the code-extracted docs page from 'make docs'
docs/source/apidocs/

# Prevent accidental cache invalidation by ignoring text editor temp and backup
*~
*.swp

#################### Python gitignore from github/gitignore ####################
## Download via:
## wget -O data/Python.gitignore \
##     https://raw.githubusercontent.com/github/gitignore/main/Python.gitignore
{% include "data/Python.gitignore" %}
################ Above is Python gitignore from github/gitignore ###############


################################################################################
# End of shared block between .dockerignore and .gitignore.
# Make sure that whatever is done above is copied to the other file
################################################################################
